! 1. XOA CONG TRUOC (Reset ve mac đinh)
{% for item in interfaces %}
default interface {{ item.name }}
{% endfor %}

! 2. XOA VLAN SAU (Đe tranh loi cong đang dùng VLAN ma xoa VLAN)
{% if danh_sach_vlan is defined %}
{% for v in danh_sach_vlan %}
no vlan {{ v.id }}
{% endfor %}
{% endif %}