! --- PHẦN 1: TAO VLAN (Neu co danh sach VLAN) ---
{% if danh_sach_vlan is defined %}
{% for v in danh_sach_vlan %}
vlan {{ v.id }}
 name {{ v.name }}
 exit
{% endfor %}
{% endif %}

! --- PHẦN 2: CAU HINH CONG ---
{% for item in interfaces %}
interface {{ item.name }}
 description {{ item.description }}
 
 ! Logic phan loai Access/Trunk
 {% if item.mode == 'access' %}
  switchport mode access
  switchport access vlan {{ item.vlan_id }}
  
 {% elif item.mode == 'trunk' %}
  ! Switch ao IOL can lenh này truoc khi mode trunk
  switchport trunk encapsulation dot1q 
  switchport mode trunk
  
 {% endif %}

 no shutdown
 exit
!
{% endfor %}