! ==============================================================
! ================== STATIC ROUTING ENTERPRISE =================
! ==============================================================
{% include 'static/ipv4_basic.j2' %}
{% include 'static/ipv4_advanced.j2' %}
{% include 'static/vrf.j2' %}
{% include 'static/ipv6.j2' %}