# --- KẾT NỐI VÀ TƯƠNG TÁC THIẾT BỊ MẠNG (SSH / NETCONF) ---
netmiko>=4.3.0
ncclient>=0.6.13

# --- THƯ VIỆN ĐIỀU PHỐI ĐA LUỒNG (NORNIR FRAMEWORK) ---
nornir>=3.3.0
nornir-netmiko>=1.0.1

# --- TƯƠNG TÁC API (RESTCONF) ---
requests>=2.31.0
urllib3>=2.0.0

# --- XỬ LÝ TEMPLATE VÀ DỮ LIỆU CẤU HÌNH ---
Jinja2>=3.1.2
PyYAML>=6.0.1


# --- CÁC THƯ VIỆN HỖ TRỢ KHÁC ---
python-dotenv #Thư viện này để hỗ trợ quản lý các đường dẫn file (đc thêm hôm 12/4/2026)


#------API giữa frontend và backend (đc thêm hôm 12/4/2026)------
fastapi>=0.103.0
uvicorn>=0.23.2
pydantic>=2.3.0