
 {% if config.eigrp.bandwidth %}

 bandwidth {{ config.eigrp.bandwidth }} 
 {% endif %}
 
 {% if config.eigrp.delay %}
 
 delay {{ config.eigrp.delay }}
 {% endif %}
 
 {% if config.eigrp.asn %}
  {% if config.eigrp.hello_timer %}
  ip hello-interval eigrp {{ config.eigrp.asn }} {{ config.eigrp.hello_timer }}
  {% endif %}
  
  {% if config.eigrp.hold_timer %}
  ip hold-time eigrp {{ config.eigrp.asn }} {{ config.eigrp.hold_timer }}
  {% endif %}
 {% endif %}