<{{ intf_type }}>
  <name>{{ intf_id }}</name>
  <ip xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
    <ospf>
      <process-id>
        <id>{{ config.ospf.process_id }}</id>
        <area>{{ config.ospf.area }}</area>
      </process-id>
      {% if config.ospf.network_type %}<network><{{ config.ospf.network_type }}/></network>{% endif %}
      {% if config.ospf.cost %}<cost>{{ config.ospf.cost }}</cost>{% endif %}
      {% if config.ospf.hello_interval %}<hello-interval>{{ config.ospf.hello_interval }}</hello-interval>{% endif %}
      {% if config.ospf.dead_interval %}<dead-interval>{{ config.ospf.dead_interval }}</dead-interval>{% endif %}
      {% if config.ospf.priority is defined %}<priority>{{ config.ospf.priority }}</priority>{% endif %}
      {% if config.ospf.mtu_ignore %}<mtu-ignore/>{% endif %}
      {% if config.ospf.bfd %}<bfd><enable/></bfd>{% endif %}
      {% if config.ospf.auth_key %}
      <authentication><message-digest/></authentication>
      <message-digest-key>
        <id>{{ config.ospf.auth_key_id | default('1') }}</id>
        <md5-auth-key>{{ config.ospf.auth_key }}</md5-auth-key>
      </message-digest-key>
      {% endif %}
    </ospf>
  </ip>
</{{ intf_type }}>