! ==============================================================
! ==================== EIGRP ENTERPRISE TOOL ===================
! ==============================================================
no logging console

{% include 'eigrp/global.j2' %}
{% include 'eigrp/interfaces.j2' %}
{% include 'eigrp/process.j2' %}