{# ================= 2. INTERFACE SETTINGS ================= #}
{% if config.interfaces %}
 {% for intf in config.interfaces %}
interface {{ intf.name }}
  
  {# --- Bandwidth & Delay --- #}
  {% if intf.bandwidth %}
   {% set prefix = 'no ' if intf.bandwidth_action == 'remove' else '' %}
 {{ prefix }}bandwidth {{ intf.bandwidth }}
  {% endif %}

  {% if intf.delay %}
   {% set prefix = 'no ' if intf.delay_action == 'remove' else '' %}
 {{ prefix }}delay {{ intf.delay }}
  {% endif %}

  {# --- Hello & Hold Time --- #}
  {% if intf.hello_interval %}
   {% set prefix = 'no ' if intf.hello_action == 'remove' else '' %}
 {{ prefix }}ip hello-interval eigrp {{ config.local_as }} {{ intf.hello_interval }}
  {% endif %}

  {% if intf.hold_time %}
   {% set prefix = 'no ' if intf.hold_action == 'remove' else '' %}
 {{ prefix }}ip hold-time eigrp {{ config.local_as }} {{ intf.hold_time }}
  {% endif %}

  {# --- Authentication --- #}
  {% if intf.auth_key_chain %}
   {% if intf.auth_action == 'remove' %}
 no ip authentication mode eigrp {{ config.local_as }} md5
 no ip authentication key-chain eigrp {{ config.local_as }} {{ intf.auth_key_chain }}
   {% else %}
 ip authentication mode eigrp {{ config.local_as }} md5
 ip authentication key-chain eigrp {{ config.local_as }} {{ intf.auth_key_chain }}
   {% endif %}
  {% endif %}

  {# --- Summary Address  --- #}
  {% if intf.summary_address %}
   {% set prefix = 'no ' if intf.summary_address.action == 'remove' else '' %}
 {{ prefix }}ip summary-address eigrp {{ config.local_as }} {{ intf.summary_address.ip }} {{ intf.summary_address.mask }}
  {% endif %}

  {# --- Enterprise Interface Tuning --- #}
  {% if intf.split_horizon is defined %}
   {% if intf.split_horizon == false %}
 no ip split-horizon eigrp {{ config.local_as }}
   {% else %}
 ip split-horizon eigrp {{ config.local_as }}
   {% endif %}
  {% endif %}

  {% if intf.bandwidth_percent %}
   {% set prefix = 'no ' if intf.bw_percent_action == 'remove' else '' %}
 {{ prefix }}ip bandwidth-percent eigrp {{ config.local_as }} {{ intf.bandwidth_percent }}
  {% endif %}

  {% if intf.next_hop_self %}
   {% set prefix = 'no ' if intf.nhs_action == 'remove' else '' %}
 {{ prefix }}ip next-hop-self eigrp {{ config.local_as }}
  {% endif %}
{# --- BFD (Cảm biến siêu tốc) & IPv6 --- #}
  {% if intf.bfd is defined %}
   {% if intf.bfd %}
    {# Cấu hình nhịp tim linh hoạt: Nếu không có trong JSON sẽ lấy 50ms - 50ms - 3 #}
 bfd interval {{ intf.bfd_tx | default('50') }} min_rx {{ intf.bfd_rx | default('50') }} multiplier {{ intf.bfd_multiplier | default('3') }}
 ip eigrp bfd
   {% else %}
 no ip eigrp bfd
   {% endif %}
  {% endif %}

  {% if intf.ipv6_eigrp is defined %}
   {% if intf.ipv6_eigrp %}
 ipv6 eigrp {{ config.local_as }}
   {% else %}
 no ipv6 eigrp {{ config.local_as }}
   {% endif %}
  {% endif %}

 {% endfor %} 
{% endif %}